fastapi==0.115.6
uvicorn[standard]==0.34.0
motor==3.6.0
beanie==1.29.0
pydantic-settings==2.7.1
email-validator==2.3.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
twilio==9.4.3
qrcode[pil]==8.0
cloudinary==1.41.0
slowapi==0.1.9
phonenumbers==8.13.52
pytest==8.3.4
pytest-asyncio==0.25.2
httpx==0.28.1
mongomock-motor==0.0.36
sendgrid
firebase-admin
razorpay==1.4.2
